<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title>Stellar Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <h1>
        Stellar accounts.
    </h1>
    <div class="container">
		<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/stellar/account/transfer}">
			<fieldset>
				<div class="form-group">
					<label for="source" class="col-lg-2 control-label">Source</label>
            		<div class="col-lg-10">
						<input id="source" type="text" name="source" value=""/>
					</div>
				</div>
				<div class="form-group">
					<label for="destination" class="col-lg-2 control-label">Dest</label>
            		<div class="col-lg-10">
						<input id="destination" type="text" name="destination" value=""/>
					</div>
				</div>
				<div class="form-group">
					<label for="amountId" class="col-lg-2 control-label">Amount</label>
            		<div class="col-lg-10">
						<input id="amountId" type="number" name="amount"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">Transfer</button>
					</div>
				</div>			
				
			</fieldset>
		</form>
    </div>
    <div class="container-fluid">    
    	<table class=table>
    		<caption>Account Balance</caption>
    		<thead>
    			<tr>
    				<th>#</th>
    				<th>ID</th>
    				<th>Email</th>
    				<th>Stellar Account ID</th>
    				<th>Stellar Balance</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="account,iterStat :${accounts.getContent()}">
    				<td th:text="${iterStat.index + 1}"></td>
    				<td th:text="${account.id}"></td>
    				<td th:text="${account.email}"></td>
    				<td th:text="${account.stellarAccountId}"></td>
    				<td th:text="${account.stellarBalance}"></td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</div>
</body>
</html>